/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 20vh;
  padding-left: 10vh;
}
nav {
  position: fixed;
  background-color: white;
  padding: 0%;
  height: 10%;
  top: 0vh;
  width: 100%;
  margin: 0%;
}
#logo {
  width: 20vh;
  height: 10vh;
}

#menu {
  padding: 20px;
}
#fnav {
  display: flex;
  justify-content: space-between;
}
#where {
  cursor: text;
  width: 70%;
  height: 50%;
}

#getstarted {
  width: 70%;
}
#email {
  width: 70%;
  height: 50px;
}
#already {
  cursor: text;
  width: 40%;
}
#signin {
  width: 15%;
}
#img1 {
  width: 80%;
}
